.headerTitle {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 24px;
    overflow: auto;
    margin: 0;
    text-overflow: ellipsis;
}

.headerTitleContent {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
