.message {
    flex-shrink: 0;
    padding: 24px 0px 24px 24px;
    overflow: auto;
    flex: 1;

    &:not(:first-child) {
        padding-top: 0px;
    }
}

.messageBox {
    padding-right: 24px;
}
