@import url('@dbeaver/ui-kit/index.css');
@layer components {
  body {
    --dbv-kit-checkbox-background: var(--theme-surface);
    --dbv-kit-checkbox-background-checked: var(--theme-surface);
    --dbv-kit-checkbox-foreground: var(--theme-on-surface);
    --dbv-kit-checkbox-border-color: var(--theme-on-secondary);
    --dbv-kit-checkbox-border-color-checked: var(--theme-on-secondary);
    --dbv-kit-checkbox-icon-color: var(--theme-on-secondary);
    --dbv-kit-control-outline-color: var(--theme-primary);

    --dbv-kit-checkbox-border-width: 1px;
    --dbv-kit-checkbox-check-size: 0.8;
    --dbv-kit-checkbox-small-height: 1.375rem;
  }

  .dbv-kit-checkbox__check > svg {
    fill: none !important;
  }
}
