.notifications {
  composes: theme-typography from global;
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 329px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  z-index: 1000; /* modal dialogs is 999, but more correct way is place notifications after dialogs in the dom */
}