@layer components {
  .search-panel {
    --dbv-kit-control-outline-offset: -1px;
    --dbv-kit-control-outline-width: 1px;
    --dbv-kit-icon-btn-outline-offset: 0;
    --dbv-kit-input-height: 26px;
    --dbv-kit-icon-btn-small-size: 20px;
    --dbv-kit-icon-btn-outline-width: 1px;

    display: flex;
    align-items: center;
    gap: var(--tw-spacing);

    container-type: inline-size;
    min-width: 180px;
    padding: var(--tw-spacing);

    .dbv-kit-input {
      border: 1px solid var(--theme-background);
    }
  }

  .search-panel__row {
    display: flex;
    align-items: center;
    gap: var(--tw-spacing);
    padding-block: calc(var(--tw-spacing) / 2);
  }

  .search-panel__input {
    position: relative;

    .dbv-kit-input {
      padding-right: 88px;
    }
    .dbv-kit-icon-button {
      --dbv-kit-icon-btn-primary-background: var(--theme-secondary);
    }
  }

  .search-panel__input,
  .search-panel__replace-input {
    width: 120px;

    @container (width >= 240px) {
      width: 170px;
    }

    @container (width >= 340px) {
      width: 240px;
    }

    @container (width >= 440px) {
      width: 300px;
    }

    @container (width >= 680px) {
      width: 420px;
    }
  }

  .search-panel__matches {
    display: none;
    font-size: 12px;

    @container (width >= 380px) {
      display: inline;
      padding-inline: var(--tw-spacing);
    }
  }

  .search-panel__find {
    display: none;
    @container (width >= 500px) {
      display: block;
    }
  }
}
