@import 'tailwindcss';

@layer base {
  :root {
    --input-radius: var(--radius-md);
    --input-font-size: calc(var(--font-size-base) * 0.875);
    --input-background: var(--color-background);
    --input-border: var(--color-gray-300);
    --input-foreground: var(--color-text);
    --input-height: var(--control-height-medium);
    --input-padding: --spacing(1.1);
    --input-placeholder-foreground: var(--color-gray-500);
    --input-option-active-background: var(--color-primary-200);
    --input-option-active-border: var(--color-primary-500);
    --input-option-active-foreground: var(--color-text);
    --input-option-hover-background: var(--color-primary-100);
  }
}
