.container .propertiesTable {
  flex: 1;
  overflow: hidden;
  padding: 12px 0;
}
.errorMessage {
  composes: theme-background-secondary theme-text-on-secondary from global;
  position: sticky;
  bottom: 0;
  padding: 8px 24px;
}
.tabList {
  margin: 0 10px;
}
