.exportProcessorList {
  flex: 1;
}
.exportObject {
  composes: theme-typography--body2 from global;
  flex-shrink: 0;
  padding: 16px 24px;
  padding-top: 0;
  max-height: 50px;
  overflow: hidden;

  & pre {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }
}
.pre {
  composes: theme-typography--caption from global;
}
