<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- PostgreSQL -->
    <extension point="org.jkiss.dbeaver.resources">
        <resource name="drivers/postgresql/LICENSE.txt"/>
        <resource name="drivers/postgresql"/>
    </extension>

    <!-- MySQL -->
    <extension point="org.jkiss.dbeaver.resources">
        <resource name="drivers/mysql/LICENSE.txt"/>
        <resource name="drivers/mysql/mysql5"/>
        <resource name="drivers/mysql/mysql8"/>
    </extension>

    <!-- MariaDB -->
    <extension point="org.jkiss.dbeaver.resources">
        <resource name="drivers/mariadb/LICENSE.txt"/>
        <resource name="drivers/mariadb"/>
    </extension>

    <!-- Firebird -->

    <extension point="org.jkiss.dbeaver.resources">
        <resource name="drivers/jaybird/LICENSE.txt"/>
        <resource name="drivers/jaybird"/>
    </extension>

    <!-- SQLite -->

    <extension point="org.jkiss.dbeaver.resources">
        <resource name="drivers/sqlite/xerial/LICENSE.txt"/>
        <resource name="drivers/sqlite/xerial"/>
    </extension>

    <!-- H2 -->

    <extension point="org.jkiss.dbeaver.resources">
        <resource name="drivers/h2/LICENSE.txt"/>
        <resource name="drivers/h2/h2-1.4.196.jar" alias="drivers/h2/h2.jar"/>
    </extension>

    <!-- Drivers config -->

    <extension point="org.jkiss.dbeaver.product.bundles">
        <bundle id="drivers.postgresql" label="PostgreSQL drivers"/>
        <bundle id="drivers.mysql" label="MySQL drivers"/>
        <bundle id="drivers.mariadb" label="MariaDB drivers"/>
        <bundle id="drivers.firebird" label="Firebird drivers"/>
        <bundle id="drivers.sqlite.xerial" label="SQLite drivers"/>
        <bundle id="drivers.h2" label="H2 drivers"/>
    </extension>

    <!-- Enabled drivers -->
    <extension point="io.cloudbeaver.driver">
        <driver id="postgresql:postgres-jdbc"/>
        <driver id="mysql:mysql8"/>
        <driver id="mysql:mariaDB"/>
        <driver id="generic:sqlite_jdbc"/>
        <driver id="generic:derby_server"/>
        <driver id="generic:h2_embedded"/>
        <driver id="jaybird:jaybird"/>
    </extension>


</plugin>
