<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension-point id="io.cloudbeaver.feature" name="Web features" schema="schema/io.cloudbeaver.feature.exsd"/>
    <extension-point id="io.cloudbeaver.service" name="Web services" schema="schema/io.cloudbeaver.service.exsd"/>
    <extension-point id="io.cloudbeaver.driver" name="Web drivers" schema="schema/io.cloudbeaver.driver.exsd"/>
    <extension-point id="io.cloudbeaver.valueSerializer" name="Web value serializers" schema="schema/io.cloudbeaver.valueSerializer.exsd"/>
    <extension-point id="io.cloudbeaver.handler" name="Web handlers" schema="schema/io.cloudbeaver.handler.exsd"/>

    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="org.jkiss.dbeaver.runtime.DBWorkbench" class="io.cloudbeaver.server.WebPlatformAdapterFactory">
            <adapter type="org.jkiss.dbeaver.model.app.DBPPlatform"/>
            <adapter type="org.jkiss.dbeaver.runtime.ui.DBPPlatformUI"/>
        </factory>
    </extension>

    <!-- Needed to instantiate connections thru navigator model -->
    <extension point="org.jkiss.dbeaver.service">
        <service name="org.jkiss.dbeaver.runtime.DBServiceConnections" class="io.cloudbeaver.server.WebServiceConnectionsImpl"/>
    </extension>

    <extension point="io.cloudbeaver.service">
        <service id="core" label="Core service" description="Core services" class="io.cloudbeaver.service.core.WebServiceBindingCore">
            <permission id="public" label="Public access" category="general"/>
        </service>
        <service id="navigator" label="Database navigator" description="Database navigator services" class="io.cloudbeaver.service.navigator.WebServiceBindingNavigator">
            <premission id="navigate" label="Navigate over database metadata"/>
        </service>
        <service id="sql" label="SQL processing" description="SQL processing and data read services" class="io.cloudbeaver.service.sql.WebServiceBindingSQL">
            <premission id="data.read" label="Data read"/>
            <premission id="data.update" label="Data update"/>
            <premission id="data.insert" label="Data insert"/>
            <premission id="data.delete" label="Data delete"/>
            <premission id="sql.execute" label="SQL execute"/>
        </service>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceHandler">
        <handler id="db.access.check" class="io.cloudbeaver.model.WebDatasourceAccessCheckHandler"/>
    </extension>

</plugin>
