.contextMenu {
  padding: 0;
  height: 16px;

  &:before {
    display: none;
  }

  &.selected svg,
  &:hover svg,
  &:focus svg {
    fill: #338fcc;
  }
}

.icon {
  cursor: pointer;
  width: 16px;
  height: 10px;
  fill: #dedede;
}
