.message {
  composes: theme-typography--body1 from global;
  opacity: 0.8;
  overflow: auto;
  max-height: 100px;
  word-break: break-word;
  white-space: pre-line;
}

.source-name {
  composes: theme-typography--body2 from global;
  padding-top: 16px;
  max-height: 50px;
  overflow: hidden;
}

.pre {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
