.contactsInfo {
  display: flex;
  white-space: pre-wrap;
}
.formFieldDescription {
  white-space: pre-wrap;
}
.iconOrImage {
  max-width: 154px;
  height: 32px;
}
.commonDialogFooter {
  align-items: center;
  justify-content: flex-end;
}
