.space {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}
.split {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    z-index: 0;
}
.pane {
    flex: 1 1 0%;
    overflow: auto;
    z-index: 0;
}

.resizerControls {
    composes: theme-background-background theme-text-on-secondary from global;
    position: relative;
    flex: 0 1 auto;
    width: 2px;
    cursor: ew-resize;
    user-select: none;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: var(--theme-primary);
    }
}

.resizerControls:before {
    content: ' ';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: -1px;
    cursor: ew-resize;
    box-sizing: border-box;
}
