.space {
    height: 100%;
}
.split {
    flex-direction: column;
    height: 100%;
}

.resizerControls {
    position: relative;
    cursor: ns-resize;
    height: 2px;
    width: initial;
}

.resizerControls:before {
    height: 4px;
    width: 100%;
    top: -1px;
    left: 0;
    cursor: ns-resize;
}
