@layer components {
  .button {
    --dbv-kit-btn-primary-background: var(--tw-color-gray-200);
    --dbv-kit-btn-primary-background-hover: color-mix(in srgb, var(--tw-color-gray-200), white 10%);
    --dbv-kit-btn-primary-background-active: color-mix(in srgb, var(--tw-color-gray-200), white 25%);
  }

  /* TODO: Dark theme is not applied */
  .theme-dark .button {
    --dbv-kit-btn-primary-background: var(--tw-color-gray-400);
    --dbv-kit-btn-primary-background-hover: color-mix(in srgb, var(--tw-color-gray-400), white 10%);
    --dbv-kit-btn-primary-background-active: color-mix(in srgb, var(--tw-color-gray-400), white 25%);
  }

  .button {
    opacity: 1;
    transition-property: opacity, box-shadow;
    transition: opacity 0.3s ease-in-out;
    padding: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

    &.vertical {
      margin: 8px 0;
      min-width: 16px;

      &.maximize,
      &.minimize {
        min-height: 64px;
      }

      &.primary::after {
        transform: rotate(0deg);
      }

      &::after {
        transform: rotate(180deg);
      }
    }

    &.horizontal {
      margin: 0 8px;
      min-width: 28px;
      height: 16px;

      &.maximize,
      &.minimize {
        min-width: 64px;
      }

      &.primary::after {
        transform: rotate(90deg);
      }

      &::after {
        transform: rotate(270deg);
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 4px 3px 0;
      border-color: transparent #000 transparent transparent;
      margin: -3px -2px;
    }
  }
}
