@layer components {
  .button {
    text-transform: none;

    --dbv-kit-btn-foreground: var(--theme-text-hint-on-light);
    --dbv-kit-btn-background: var(--theme-surface);
    --dbv-kit-btn-padding-inline: 8px;
  }
}
