.toolsPanel {
  border-bottom: solid 1px;
  height: 30px;
  display: flex;
  flex: 0 0 auto;
}

.primary {
  composes: theme-background-surface theme-text-on-surface theme-border-color-background from global;
}

.secondary {
  composes: theme-background-secondary theme-text-on-secondary theme-border-color-background from global;
  overflow: auto;
  align-items: center;
  height: initial;
  min-height: 32px;
  border-bottom: none;
}