.status {
    composes: theme-background-positive from global;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &.connected {
        opacity: 1;
    }
}
