.unsavedMark {
  background-color: var(--theme-primary);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.readonlyIcon {
  cursor: auto;
  width: 10px;
  margin-right: 4px;
}
