<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.auth.provider">
        <authProvider id="ldap" label="LDAP" description="LDAP authentication provider"
                      configurable="true"
                      class="io.cloudbeaver.service.ldap.auth.LdapAuthProvider"
                      icon="platform:/plugin/org.jkiss.dbeaver.model/icons/idp/ldap.png"
                      caseInsensitive="true"
        >
            <configuration>
                <propertyGroup label="LDAP" description="LDAP authentication">
                    <property id="ldap-host" label="%ldap-host" type="string" description="%ldap-host.description" required="true"/>
                    <property id="ldap-port" label="%ldap-port" type="integer" defaultValue="389" required="true" description="%ldap-port.description"/>
                    <property id="ldap-identifier-attr" label="%ldap-identifier-attr"
                              defaultValue="cn"
                              required="true"
                              description="%ldap-identifier-attr.description"/>
                    <property id="ldap-dn" label="%ldap-dn" type="string"
                              description="%ldap-dn.description"
                              required="false"/>
                    <property id="ldap-bind-user" label="%ldap-bind-user" type="string"
                              description="%ldap-bind-user.description"
                              required="false"/>
                    <property id="ldap-bind-user-pwd" label="%ldap-bind-user-pwd" type="string"
                              description="%ldap-bind-user-pwd.description"
                              features="password" required="false"/>
                    <property id="ldap-filter" label="%ldap-filter" type="string" required="false"
                              description="%ldap-filter.description"/>
                    <property id="ldap-login" label="%ldap-login" type="string" required="false"
                              description="%ldap-login.description"/>
                    <property id="ldap-enable-ssl" label="%ldap-enable-ssl" description="%ldap-enable-ssl.description" type="boolean" defaultValue="false"/>
                    <property id="ldap-ssl-cert" label="%ldap-ssl-cert" description="%ldap-ssl-cert.description" type="file" features="file"/>

                </propertyGroup>
            </configuration>
            <credentials>
                <propertyGroup label="Auth credentials">
                    <property id="user-dn" label="User login" type="string" description="LDAP user name" user="true"
                              identifying="true"/>
                    <property id="password" label="User password" type="string" description="LDAP user password"
                              user="true" encryption="plain"/>
                </propertyGroup>
            </credentials>

            <metaParameters type="team">
                <propertyGroup label="LDAP group name">
                    <property id="ldap.group-name" label="LDAP Group name" type="string"
                              description="LDAP group name."/>
                </propertyGroup>
            </metaParameters>
        </authProvider>
    </extension>
</plugin>
