@utility radius-form-element {
  border-radius: var(--theme-form-element-radius);
}

@utility radius-group-element {
  border-radius: var(--theme-group-element-radius);
}

@utility radius-menu-bar-small {
  border-radius: var(--theme-menu-bar-small-action-radius);
}

/* Component layer classes for backwards compatibility. TODO: Remove it once all components are migrated to the new utility classes */
@layer components {
  .theme-form-element-radius {
    @apply radius-form-element;
  }

  .theme-group-element-radius {
    @apply radius-group-element;
  }

  .theme-menu-bar-small-action-radius {
    @apply radius-menu-bar-small;
  }
}
