@utility text-theme-primary {
  color: var(--theme-primary);
}

@utility text-theme-on-primary {
  color: var(--theme-on-primary);
}

@utility text-theme-secondary {
  color: var(--theme-secondary);
}

@utility text-theme-on-secondary {
  color: var(--theme-on-secondary);
}

@utility text-theme-error {
  color: var(--theme-error);
}

@utility text-theme-on-error {
  color: var(--theme-on-error);
}

@utility text-theme-surface {
  color: var(--theme-surface);
}

@utility text-theme-on-surface {
  color: var(--theme-on-surface);
}

@utility text-theme-background {
  color: var(--theme-background);
}

@utility text-theme-positive {
  color: var(--theme-positive);
}

@utility text-theme-negative {
  color: var(--theme-negative);
}

@utility text-theme-status {
  color: var(--theme-status);
}

@utility text-theme-primary {
  color: var(--theme-primary);

  svg,
  & > svg {
    fill: var(--theme-primary);
  }
}

@utility text-theme-on-primary {
  color: var(--theme-on-primary);

  svg,
  & > svg {
    fill: var(--theme-on-primary);
  }
}

@utility text-theme-secondary {
  color: var(--theme-secondary);

  svg,
  & > svg {
    fill: var(--theme-secondary);
  }
}

@utility text-theme-on-secondary {
  color: var(--theme-on-secondary);

  svg,
  & > svg {
    fill: var(--theme-on-secondary);
  }
}

@utility text-theme-error {
  color: var(--theme-error);

  svg,
  & > svg {
    fill: var(--theme-error);
  }
}

@utility text-theme-on-error {
  color: var(--theme-on-error);

  svg,
  & > svg {
    fill: var(--theme-on-error);
  }
}

@utility text-theme-surface {
  color: var(--theme-surface);

  svg,
  & > svg {
    fill: var(--theme-surface);
  }
}

@utility text-theme-on-surface {
  color: var(--theme-on-surface);

  svg,
  & > svg {
    fill: var(--theme-on-surface);
  }
}

@utility text-theme-background {
  color: var(--theme-background);

  svg,
  & > svg {
    fill: var(--theme-background);
  }
}

@utility text-theme-positive {
  color: var(--theme-positive);

  svg,
  & > svg {
    fill: var(--theme-positive);
  }
}

@utility text-theme-negative {
  color: var(--theme-negative);

  svg,
  & > svg {
    fill: var(--theme-negative);
  }
}

@utility text-theme-status {
  color: var(--theme-status);

  svg,
  & > svg {
    fill: var(--theme-status);
  }
}

@utility border-theme-primary {
  border-color: var(--theme-primary) !important;
}

@utility border-theme-on-primary {
  border-color: var(--theme-on-primary) !important;
}

@utility border-theme-secondary {
  border-color: var(--theme-secondary) !important;
}

@utility border-theme-on-secondary {
  border-color: var(--theme-on-secondary) !important;
}

@utility border-theme-error {
  border-color: var(--theme-error) !important;
}

@utility border-theme-on-error {
  border-color: var(--theme-on-error) !important;
}

@utility border-theme-surface {
  border-color: var(--theme-surface) !important;
}

@utility border-theme-on-surface {
  border-color: var(--theme-on-surface) !important;
}

@utility border-theme-background {
  border-color: var(--theme-background) !important;
}

@utility border-theme-positive {
  border-color: var(--theme-positive) !important;
}

@utility border-theme-negative {
  border-color: var(--theme-negative) !important;
}

@utility border-theme-status {
  border-color: var(--theme-status) !important;
}

@utility fill-theme-primary {
  fill: var(--theme-primary);
}

@utility fill-theme-on-primary {
  fill: var(--theme-on-primary);
}

@utility fill-theme-secondary {
  fill: var(--theme-secondary);
}

@utility fill-theme-on-secondary {
  fill: var(--theme-on-secondary);
}

@utility fill-theme-error {
  fill: var(--theme-error);
}

@utility fill-theme-on-error {
  fill: var(--theme-on-error);
}

@utility fill-theme-surface {
  fill: var(--theme-surface);
}

@utility fill-theme-on-surface {
  fill: var(--theme-on-surface);
}

@utility fill-theme-background {
  fill: var(--theme-background);
}

@utility fill-theme-positive {
  fill: var(--theme-positive);
}

@utility fill-theme-negative {
  fill: var(--theme-negative);
}

@utility fill-theme-status {
  fill: var(--theme-status);
}

@utility bg-theme-primary {
  background-color: var(--theme-primary);
}

@utility bg-theme-secondary {
  background-color: var(--theme-secondary);
}

@utility bg-theme-surface {
  background-color: var(--theme-surface);
}

@utility bg-theme-background {
  background-color: var(--theme-background);
}

@utility bg-theme-positive {
  background-color: var(--theme-positive);
}

@utility text-variant-primary-on-light {
  color: var(--theme-text-primary-on-light);
}

@utility text-variant-secondary-on-light {
  color: var(--theme-text-secondary-on-light);
}

@utility text-variant-sub-secondary-on-light {
  color: var(--theme-text-sub-secondary-on-light);
}

@utility text-variant-hint-on-light {
  color: var(--theme-text-hint-on-light);
}

@utility text-variant-disabled-on-light {
  color: var(--theme-text-disabled-on-light);
}

@utility text-variant-icon-on-light {
  color: var(--theme-text-icon-on-light);
}

@utility text-variant-negative-on-light {
  color: var(--theme-text-negative-on-light);
}

@utility text-variant-primary-on-dark {
  color: var(--theme-text-primary-on-dark);
}

@utility text-variant-secondary-on-dark {
  color: var(--theme-text-secondary-on-dark);
}

@utility text-variant-sub-secondary-on-dark {
  color: var(--theme-text-sub-secondary-on-dark);
}

@utility text-variant-hint-on-dark {
  color: var(--theme-text-hint-on-dark);
}

@utility text-variant-disabled-on-dark {
  color: var(--theme-text-disabled-on-dark);
}

@utility text-variant-icon-on-dark {
  color: var(--theme-text-icon-on-dark);
}

@utility text-variant-negative-on-dark {
  color: var(--theme-text-negative-on-dark);
}

@utility text-variant-primary-on-light {
  color: var(--theme-text-primary-on-light);

  svg,
  & > svg {
    fill: var(--theme-text-primary-on-light);
  }
}

@utility text-variant-secondary-on-light {
  color: var(--theme-text-secondary-on-light);

  svg,
  & > svg {
    fill: var(--theme-text-secondary-on-light);
  }
}

@utility text-variant-sub-secondary-on-light {
  color: var(--theme-text-sub-secondary-on-light);

  svg,
  & > svg {
    fill: var(--theme-text-sub-secondary-on-light);
  }
}

@utility text-variant-hint-on-light {
  color: var(--theme-text-hint-on-light);

  svg,
  & > svg {
    fill: var(--theme-text-hint-on-light);
  }
}

@utility text-variant-disabled-on-light {
  color: var(--theme-text-disabled-on-light);

  svg,
  & > svg {
    fill: var(--theme-text-disabled-on-light);
  }
}

@utility text-variant-icon-on-light {
  color: var(--theme-text-icon-on-light);

  svg,
  & > svg {
    fill: var(--theme-text-icon-on-light);
  }
}

@utility text-variant-negative-on-light {
  color: var(--theme-text-negative-on-light);

  svg,
  & > svg {
    fill: var(--theme-text-negative-on-light);
  }
}

@utility text-variant-primary-on-dark {
  color: var(--theme-text-primary-on-dark);

  svg,
  & > svg {
    fill: var(--theme-text-primary-on-dark);
  }
}

@utility text-variant-secondary-on-dark {
  color: var(--theme-text-secondary-on-dark);

  svg,
  & > svg {
    fill: var(--theme-text-secondary-on-dark);
  }
}

@utility text-variant-sub-secondary-on-dark {
  color: var(--theme-text-sub-secondary-on-dark);

  svg,
  & > svg {
    fill: var(--theme-text-sub-secondary-on-dark);
  }
}

@utility text-variant-hint-on-dark {
  color: var(--theme-text-hint-on-dark);

  svg,
  & > svg {
    fill: var(--theme-text-hint-on-dark);
  }
}

@utility text-variant-disabled-on-dark {
  color: var(--theme-text-disabled-on-dark);

  svg,
  & > svg {
    fill: var(--theme-text-disabled-on-dark);
  }
}

@utility text-variant-icon-on-dark {
  color: var(--theme-text-icon-on-dark);

  svg,
  & > svg {
    fill: var(--theme-text-icon-on-dark);
  }
}

@utility text-variant-negative-on-dark {
  color: var(--theme-text-negative-on-dark);

  svg,
  & > svg {
    fill: var(--theme-text-negative-on-dark);
  }
}

/* Component layer classes for backwards compatibility. Remove it once all components are migrated to the new utility classes */
@layer components {
  * {
    outline-color: var(--theme-primary);
  }

  .theme-text-primary {
    @apply text-theme-primary;
  }

  .theme-text-on-primary {
    @apply text-theme-on-primary;
  }

  .theme-text-secondary {
    @apply text-theme-secondary;
  }

  .theme-text-on-secondary {
    @apply text-theme-on-secondary;
  }

  .theme-text-error {
    @apply text-theme-error;
  }

  .theme-text-on-error {
    @apply text-theme-on-error;
  }

  .theme-text-surface {
    @apply text-theme-surface;
  }

  .theme-text-on-surface {
    @apply text-theme-on-surface;
  }

  .theme-text-background {
    @apply text-theme-background;
  }

  .theme-text-positive {
    @apply text-theme-positive;
  }

  .theme-text-negative {
    @apply text-theme-negative;
  }

  .theme-text-status {
    @apply text-theme-status;
  }

  .theme-border-color-primary {
    @apply border-theme-primary;
  }

  .theme-border-color-on-primary {
    @apply border-theme-on-primary;
  }

  .theme-border-color-secondary {
    @apply border-theme-secondary;
  }

  .theme-border-color-on-secondary {
    @apply border-theme-on-secondary;
  }

  .theme-border-color-error {
    @apply border-theme-error;
  }

  .theme-border-color-on-error {
    @apply border-theme-on-error;
  }

  .theme-border-color-surface {
    @apply border-theme-surface;
  }

  .theme-border-color-on-surface {
    @apply border-theme-on-surface;
  }

  .theme-border-color-background {
    @apply border-theme-background;
  }

  .theme-border-color-positive {
    @apply border-theme-positive;
  }

  .theme-border-color-negative {
    @apply border-theme-negative;
  }

  .theme-border-color-status {
    @apply border-theme-status;
  }

  .theme-fill-primary {
    @apply fill-theme-primary;
  }

  .theme-fill-on-primary {
    @apply fill-theme-on-primary;
  }

  .theme-fill-secondary {
    @apply fill-theme-secondary;
  }

  .theme-fill-on-secondary {
    @apply fill-theme-on-secondary;
  }

  .theme-fill-error {
    @apply fill-theme-error;
  }

  .theme-fill-on-error {
    @apply fill-theme-on-error;
  }

  .theme-fill-surface {
    @apply fill-theme-surface;
  }

  .theme-fill-on-surface {
    @apply fill-theme-on-surface;
  }

  .theme-fill-background {
    @apply fill-theme-background;
  }

  .theme-fill-positive {
    @apply fill-theme-positive;
  }

  .theme-fill-negative {
    @apply fill-theme-negative;
  }

  .theme-fill-status {
    @apply fill-theme-status;
  }

  .theme-background-primary {
    @apply bg-theme-primary;
  }

  .theme-background-secondary {
    @apply bg-theme-secondary;
  }

  .theme-background-surface {
    @apply bg-theme-surface;
  }

  .theme-background-background {
    @apply bg-theme-background;
  }

  .theme-background-positive {
    @apply bg-theme-positive;
  }

  .theme-text-text-primary-on-light {
    @apply text-variant-primary-on-light;
  }

  .theme-text-text-secondary-on-light {
    @apply text-variant-secondary-on-light;
  }

  .theme-text-text-sub-secondary-on-light {
    @apply text-variant-sub-secondary-on-light;
  }

  .theme-text-text-hint-on-light {
    @apply text-variant-hint-on-light;
  }

  .theme-text-text-disabled-on-light {
    @apply text-variant-disabled-on-light;
  }

  .theme-text-text-icon-on-light {
    @apply text-variant-icon-on-light;
  }

  .theme-text-text-negative-on-light {
    @apply text-variant-negative-on-light;
  }

  .theme-text-text-primary-on-dark {
    @apply text-variant-primary-on-dark;
  }

  .theme-text-text-secondary-on-dark {
    @apply text-variant-secondary-on-dark;
  }

  .theme-text-text-sub-secondary-on-dark {
    @apply text-variant-sub-secondary-on-dark;
  }

  .theme-text-text-hint-on-dark {
    @apply text-variant-hint-on-dark;
  }

  .theme-text-text-disabled-on-dark {
    @apply text-variant-disabled-on-dark;
  }

  .theme-text-text-icon-on-dark {
    @apply text-variant-icon-on-dark;
  }

  .theme-text-text-negative-on-dark {
    @apply text-variant-negative-on-dark;
  }
}
