@utility elevation-small {
  box-shadow:
    0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

@utility elevation-medium {
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

@utility elevation-large {
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

@utility elevation-xlarge {
  box-shadow:
    0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14),
    0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

/* Component layer classes for backwards compatibility. TODO: Remove it once all components are migrated to the new utility classes */
@layer components {
  .theme-elevation-small {
    @apply elevation-small;
  }

  .theme-elevation-medium {
    @apply elevation-medium;
  }

  .theme-elevation-large {
    @apply elevation-large;
  }

  .theme-elevation-xlarge {
    @apply elevation-xlarge;
  }
}
