@utility ripple {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: currentColor;
    border-radius: inherit;
    pointer-events: none;
    transition: opacity 150ms linear;
  }

  &:hover::before {
    opacity: 0.04;
  }

  &:focus::before {
    opacity: 0.1;
  }

  &:active::before {
    opacity: 0.1;
  }

  &[aria-expanded='true']::before {
    opacity: 0.14;
  }
}

@utility ripple-selectable {
  &[aria-selected='true']::before {
    opacity: 0.14;
  }
}

/* Component layer classes for backwards compatibility. TODO: Remove it once all components are migrated to the new utility classes */
@layer components {
  .theme-ripple {
    @apply ripple;
  }

  .theme-ripple-selectable {
    @apply ripple-selectable;
  }
}
