.tableLeftBar {
  display: flex;
}

.baseTab {
  composes: theme-ripple theme-background-background theme-text-text-primary-on-light theme-typography--body2 from global;
  text-transform: uppercase;
  font-weight: normal;

  &:global([aria-selected='true']) {
    font-weight: normal !important;
  }
}

.tabList {
  composes: theme-background-secondary theme-text-on-secondary from global;
}

.tabListFlexible .tabOuter:only-child {
  display: none;
}
