.container {
  flex: 1;
  position: relative;
  overflow: clip;
  min-width: 0;
}

.loader {
  height: 100%;
}

.pane {
  display: flex;
  composes: theme-background-surface theme-text-on-surface from global;
}
