<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="io.cloudbeaver.service">
        <service id="admin" label="User administration" description="User administration services" class="io.cloudbeaver.service.admin.WebServiceBindingAdmin">
            <permission id="admin" label="Admin Full Access" category="admin"/>
        </service>
    </extension>

</plugin>
