.sqlEditor {
  position: relative;
  z-index: 0;
  flex: 1 auto;
  height: 100%;
  display: flex;
  overflow: auto;
}

.tabs {
  composes: theme-background-secondary theme-text-on-secondary from global;
  overflow-x: hidden;
  padding-top: 4px;
}

.baseTab {
  composes: theme-ripple theme-background-background theme-text-text-primary-on-light theme-typography--body2 from global;
  text-transform: uppercase;
  font-weight: normal;

  &:global([aria-selected='true']) {
    font-weight: normal !important;
  }
}

.tabList {
  composes: theme-background-secondary theme-text-on-secondary from global;
  margin-right: 8px;
  margin-left: 4px;
}
