.contextMenu {
  padding: 0;
  height: 24px;
  width: 24px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  & .icon {
    width: 16px;
    height: 100%;
  }
}
