.customLoader {
  --dbv-kit-spinner-stroke-color: orange;
  --dbv-kit-spinner-animation-duration: 5s;
  --dbv-kit-animate-stroke: stroke var(--dbv-kit-spinner-animation-duration) linear infinite;
  --dbv-kit-animate-spin: spinning var(--dbv-kit-spinner-animation-duration) cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  --dbv-kit-spinner-stroke-linecap: round;
}
