@import 'tailwindcss' prefix(tw);

@layer theme {
  a {
    color: var(--tw-color-blue-600);
  }

  code {
    color: var(--tw-color-yellow-600);
  }

  .comment {
    color: var(--tw-color-gray-400);
  }
}

:root[data-theme='dark'] {
  color: white;
}
