.group {
  composes: theme-background-surface theme-text-on-surface from global;

  align-content: baseline;
  box-sizing: border-box;
  padding: 24px;
  border-radius: var(--theme-group-element-radius);

  &.dense {
    padding: 8px;
  }

  &.form > * {
    margin-right: 25%;
  }

  &.box {
    padding: 0;
    overflow: hidden;

    > .groupTitle {
      padding: 24px;
    }
  }

  &.boxNoOverflow {
    padding: 0;
    overflow: initial;
  }

  &.center {
    margin: 0 auto;
  }
}
