<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.eclipse.core.runtime.applications" id="application" name="CloudBeaver Web Application">
        <application visible="true">
            <run class="io.cloudbeaver.server.CBApplicationCE"/>
        </application>
    </extension>

    <extension point="org.eclipse.core.runtime.products" id="product">
        <product application="io.cloudbeaver.product.ce.application" name="CloudBeaver Community">
            <property name="appName" value="CloudBeaver Community"/>
            <property name="versionUpdateURL" value="https://dbeaver.com/product/cloudbeaver-ce-version.json"/>
        </product>
    </extension>

    <extension point="org.jkiss.dbeaver.application">
        <application
                id="cloudbeaver-ce"
                family="CB"
                name="CloudBeaver Community"
                server="true"/>
    </extension>

</plugin>
