.columnHeader {
  box-sizing: border-box;
  white-space: nowrap;
  padding: 16px;
  height: 36px;
  padding-top: unset;
  padding-bottom: unset;
  border-color: var(--theme-background);
  text-transform: uppercase;
  text-align: left;
  text-decoration: none !important;

  &.min {
    width: 28px;
  }

  & > .thFlex {
    display: flex;
  }

  &.centerContent > .thFlex {
    align-items: center;
    justify-content: center;
  }

  &:last-child {
    border-right: none;
  }
}
