.tableHeader.fixed {
  background: var(--theme-surface);
  position: sticky;
  top: 0;
  z-index: 1;

  & > tr {
    border-top: none !important;
    border-bottom: none !important;

    & > th {
      box-shadow: inset 0 -1px 0 var(--theme-background);
    }
  }
}
