.tableItemExpandBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 16px;
  height: 100%;
  padding: 0;
}

.tableItemExpandBoxIcon {
  width: 16px;
  height: 16px;
  padding: 0;
  transition: transform ease-in-out 0.2s;

  &.expanded {
    transform: rotate(180deg);
  }
}
