.table {
  composes: theme-typography--body2 from global;
  min-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-color: var(--theme-background);

  &.big {
    & > thead > tr > th {
      height: 54px;

      &.min {
        width: 46px;
      }
    }

    & > tbody > tr > td {
      height: 46px;
    }
  }
}
