.row {
  outline: none;
  border-bottom: 1px solid;
  border-color: var(--theme-background) !important;

  &:last-child {
    border-bottom: none;
  }

  &:not(.noHover):hover,
  &:not(.noHover).selected,
  &:not(.noHover).expanded {
    background-color: var(--theme-sub-secondary);
  }

  &.disabled {
    opacity: 0.85;
  }
}
