/*Button:disabled,
Button[aria-disabled='true'],*/
.menuButton {
  &:hover,
  &:global([aria-expanded='true']) {
    background: #338ecc;
  }
  &:before {
    display: none;
  }
  &:disabled,
  &[aria-disabled='true'] {
    opacity: 1;
  }
}
