@layer components {
  .topNavBarMenu .checkboxMarkup {
    --dbv-kit-checkbox-background-checked: var(--theme-on-primary);
    --dbv-kit-checkbox-icon-color: var(--theme-primary);
    --dbv-kit-checkbox-background: transparent;

    --dbv-kit-checkbox-border-color: var(--theme-on-primary);
    --dbv-kit-checkbox-border-color-checked: var(--theme-on-primary);
  }
}
