.code,
.message {
  display: block;
  white-space: pre-wrap;
}
.textarea {
  min-height: 270px !important;
}
.message {
  overflow: auto;
  max-height: 96px;
}
.property {
  padding: 8px 16px;
}
.errorDetails {
  border: solid 1px;
}
.footer {
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
.errorInfoContainer {
  display: flex;
  flex-direction: column;
}
