<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins"/>
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/CloudbeaverServer.product"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-DBeaverWebServer.product"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -web-config conf/cloudbeaver.conf"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dosgi.requiredJavaVersion=1.6 -Xms40m -Xmx512m"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\devel\my\cloudbeaver\deploy\cloudbeaver\"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="io.cloudbeaver.product.ce.product"/>
    <stringAttribute key="productFile" value="\web-server\DBeaverWebServer.product"/>
    <setAttribute key="selected_features">
        <setEntry value="io.cloudbeaver.ce.drivers.feature:default"/>
        <setEntry value="io.cloudbeaver.ee.db.feature:default"/>
        <setEntry value="io.cloudbeaver.ee.drivers.feature:default"/>
        <setEntry value="io.cloudbeaver.product.ce.feature:default"/>
        <setEntry value="io.cloudbeaver.product.ee.feature:default"/>
        <setEntry value="io.cloudbeaver.sample.feature:default"/>
        <setEntry value="io.cloudbeaver.server.feature:default"/>
        <setEntry value="org.jkiss.dbeaver.db.feature:default"/>
        <setEntry value="org.jkiss.dbeaver.runtime.feature:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.github.jsqlparser@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.ibm.icu.base@default:default"/>
        <setEntry value="com.jcraft.jsch@default:default"/>
        <setEntry value="com.sun.jna*5.8.0.v20210503-0343@default:default"/>
        <setEntry value="com.sun.jna.platform*4.5.1.v20190425-1842@default:default"/>
        <setEntry value="com.sun.jna.platform*5.8.0.v20210406-1004@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="org.apache.commons.jexl@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.bouncycastle.bcpkix@default:default"/>
        <setEntry value="org.bouncycastle.bcprov@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.resources.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator@1:true"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.jkiss.bundle.apache.dbcp@default:default"/>
        <setEntry value="org.jkiss.bundle.apache.kerby@default:default"/>
        <setEntry value="org.jkiss.bundle.apache.poi@default:default"/>
        <setEntry value="org.jkiss.bundle.cassandra@default:default"/>
        <setEntry value="org.jkiss.bundle.couchbase@default:default"/>
        <setEntry value="org.jkiss.bundle.gis@default:default"/>
        <setEntry value="org.jkiss.bundle.google.cloud@default:default"/>
        <setEntry value="org.jkiss.bundle.graphql.java@default:default"/>
        <setEntry value="org.jkiss.bundle.influxdb@default:default"/>
        <setEntry value="org.jkiss.bundle.jaxb@default:default"/>
        <setEntry value="org.jkiss.bundle.jedis@default:default"/>
        <setEntry value="org.jkiss.bundle.lightcouch@default:default"/>
        <setEntry value="org.jkiss.bundle.sshj@default:default"/>
        <setEntry value="org.objectweb.asm*9.1.0.v20210209-1849@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="io.cloudbeaver.connect.provider.sample@default:default"/>
        <setEntry value="io.cloudbeaver.model@default:default"/>
        <setEntry value="io.cloudbeaver.product.ce@default:default"/>
        <setEntry value="io.cloudbeaver.resources.drivers.base@default:default"/>
        <setEntry value="io.cloudbeaver.server@default:default"/>
        <setEntry value="io.cloudbeaver.service.admin@default:default"/>
        <setEntry value="io.cloudbeaver.service.auth@default:default"/>
        <setEntry value="io.cloudbeaver.service.data.transfer@default:default"/>
        <setEntry value="io.cloudbeaver.service.metadata@default:default"/>
        <setEntry value="org.jkiss.dbeaver.data.gis@default:default"/>
        <setEntry value="org.jkiss.dbeaver.data.office@default:default"/>
        <setEntry value="org.jkiss.dbeaver.data.transfer@default:default"/>
        <setEntry value="org.jkiss.dbeaver.erd.model@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.athena@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.bigquery@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.clickhouse@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.db2.i@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.db2.zos@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.db2@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.derby@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.elasticsearch@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.exasol@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.firebird@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.generic@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.greenplum@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.h2@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.h2gis@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.hana@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.hive@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.hsqldb@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.informix@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.kognitio@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.mssql@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.mysql@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.netezza@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.opendistro@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.oracle@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.phoenix@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.postgresql@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.snowflake.core@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.spanner@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.sqlite@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.teradata@default:default"/>
        <setEntry value="org.jkiss.dbeaver.ext.vertica@default:default"/>
        <setEntry value="org.jkiss.dbeaver.model.sql@default:default"/>
        <setEntry value="org.jkiss.dbeaver.model@default:default"/>
        <setEntry value="org.jkiss.dbeaver.net.ssh.jsch@default:default"/>
        <setEntry value="org.jkiss.dbeaver.net.ssh.sshj@default:default"/>
        <setEntry value="org.jkiss.dbeaver.net.ssh@default:default"/>
        <setEntry value="org.jkiss.dbeaver.registry@default:default"/>
        <setEntry value="org.jkiss.dbeaver.slf4j@default:false"/>
        <setEntry value="org.jkiss.dbeaver.tasks.native@default:default"/>
        <setEntry value="org.jkiss.utils@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="true"/>
    <booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
