.theme-dark {
  --editor-meta: #ff1717;
  --editor-keyword: rgb(115, 158, 202);
  --editor-atom: #56c8d8;
  --editor-number: rgb(192, 192, 192);
  --editor-def: #00f;
  --editor-variable: rgb(126, 186, 211);
  --editor-variable-2: rgb(193, 170, 108);
  --editor-variable-3: rgb(193, 170, 108);
  --editor-property: rgb(126, 186, 211);
  --editor-operator: rgb(126, 186, 211);
  --editor-comment: rgb(102, 151, 104);
  --editor-string: rgb(202, 197, 128);
  --editor-string-2: #f50;
  --editor-qualifier: #555;
  --editor-builtin: #ab87ff;
  --editor-bracket: #cc7;
  --editor-tag: #170;
  --editor-attribute: #00c;
  --editor-link: #219;
  --editor-error: #f00;
  --editor-delimiter: rgb(238, 204, 100);
  --editor-cursor: #fff;
  --editor-type-name: #c586c0;
  --editor-class-name: #c586c0;
  --editor-punctuation: #ffffff8c;
  --editor-property-name: #569cd6;
  --editor-bool: #56c8d8;
  --editor-variable-name: #56c8d8;
  --editor-label-name: #cf6edf;
}
