.captureView {
  outline: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
.elementsTreeLoader {
  min-width: 100%;
  width: max-content;
}
.loader {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 240px;
}
.center {
  height: 100%;
  width: 100%;
  display: flex;
}
.message {
  padding: 24px;
  box-sizing: border-box;
  max-width: 240px;
  text-align: center;
  margin: auto;
}
