.iconBtn {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(-175%) rotate(90deg);
  background-color: var(--theme-surface);
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 15px;
  border-radius: 50%;
  color: var(--theme-on-surface);
  overflow: hidden;
  align-items: center;

  &:hover {
    background-color: var(--dbv-kit-btn-secondary-background-hover);
  }
}

.loader {
  height: 100%;
}
