.menuBar {
  height: 32px;
  display: flex;

  & > .menuSeparator {
    height: 100%;
    margin: 0;
    border: 1px solid !important;

    &:first-child,
    &:last-child {
      display: none;
    }
  }
}

.floating.menuBar {
  height: 28px;
}
