.menuBarItem {
  composes: theme-ripple from global;
  padding: 0 8px;
  cursor: pointer;
  background: transparent;
  outline: none;
  color: inherit;

  &.hidden {
    display: none;
  }

  & .menuBarItemBox {
    display: flex;
    align-items: center;
  }

  & .menuBarItemIcon {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 4px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    &:empty {
      display: none;
    }

    & .iconOrImage {
      display: block;
      object-fit: contain;
    }
  }

  & .loader,
  & .iconOrImage {
    width: 16px;
  }

  & .menuBarItemLabel {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 0 4px;
  }

  & .menuBarItemIcon + .menuBarItemLabel {
    padding-left: 4px;
  }

  & .menuBarItemMark {
    display: none;

    & .icon {
      width: 12px;
    }
  }
}

.floating {
  & .menuBarItem {
    padding: 4px;
    margin: 2px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: var(--theme-form-element-radius);
  }
  & .menuBarItemIcon {
    width: 16px;
    height: 16px;
    padding: 0px;
  }
}
