.footerContainer {
  width: 100%;
  display: flex;
  gap: 14px;
  justify-content: flex-end;
}

.tablesContainer {
  padding: 0 24px;
  display: flex;
  gap: 24px;
  height: 100%;
}

.tableContainer {
  overflow: auto;
  flex: 1;
}