<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="io.cloudbeaver.service">
        <service id="data.transfer" label="Data transfer support" description="Data transfer services" class="io.cloudbeaver.service.data.transfer.WebServiceBindingDataTransfer">

        </service>
    </extension>

</plugin>
