@layer base {
  .dbv-plan-diagram {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .dbv-plan-diagram__measure {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    top: -9999px;
    left: -9999px;
  }
}
