<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.auth.provider">
        <authProvider id="local" label="Local"
                caseInsensitive="true"
                description="Local name/password based authentication"
                class="io.cloudbeaver.auth.provider.local.LocalAuthProvider"
                icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/key.svg">
            <credentials>
                <propertyGroup label="General">
                    <property id="user" label="User name" type="string" description="User name" admin="true" user="true" identifying="true" required="true"/>
                    <property id="password" label="User password" type="string" description="User password" encryption="hash" admin="true" user="true" required="true"/>
                </propertyGroup>
            </credentials>

        </authProvider>
        <authProvider id="reverseProxy" label="Reverse proxy"
                      description="Reverse proxy header based authentication"
                      trusted="true"
                      configurable="true"
                      class="io.cloudbeaver.auth.provider.rp.RPAuthProvider"
                      icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/key.svg">
            <credentials>
                <propertyGroup label="General">
                    <property id="user" label="User name" type="string" description="User name" admin="true" user="true" identifying="true"/>
                </propertyGroup>
            </credentials>
            <configuration>
                <propertyGroup label="Configuration">
                    <property id="logout-url" label="%logout-url" type="string" description="%logout-url.description"/>
                    <property id="user-header" label="%user-header" type="string" description="%user-header.description"/>
                    <property id="team-header" label="%team-header" type="string" description="%team-header.description"/>
                    <property id="team-delimiter" label="%team-delimiter" type="string" description="%team-delimiter.description"/>
                    <property id="first-name-header" label="%first-name-header" type="string" description="%first-name-header.description"/>
                    <property id="last-name-header" label="%last-name-header" type="string" description="%last-name-header.description"/>
                    <property id="full-name-header" label="%full-name-header" type="string" description="%full-name-header.description"/>
                    <property id="role-header" label="%role-header" type="string" description="%role-header.description" requiredFeatures="distributed"/>
                </propertyGroup>
            </configuration>
        </authProvider>
    </extension>
</plugin>
