.primary {
  composes: theme-text-primary from global;
}

.tools {
  composes: theme-background-surface from global;
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}

.actions {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
