.fieldDescription {
  composes: theme-typography--caption from global;
  color: var(--theme-text-hint-on-background);
  box-sizing: border-box;
  padding-top: 4px;
  min-height: 24px;

  &.invalid {
    color: var(--theme-negative);
  }
}
