.filterContainer {
  position: relative;
  min-width: 24px;
  min-height: 24px;
}
.inputField {
  display: block;
  width: 300px;
  &.max {
    width: 100%;
  }

  & input {
    &[type='search']::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
    &[type='search']::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }
    /* clears the ‘X’ from Chrome */
    &[type='search']::-webkit-search-decoration,
    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-results-button,
    &[type='search']::-webkit-search-results-decoration {
      display: none;
    }

    padding-right: 40px !important;
  }
}
.iconButton {
  position: absolute;
  right: 4px;
  top: 4px;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  cursor: auto;

  &.cross svg {
    width: 16px;
  }

  &.cross.manualMode {
    right: 32px;
  }
}

.manualMode {
  composes: theme-background-primary theme-text-on-primary from global;
  cursor: pointer;
}
