.filterContainer {
  position: relative;
  min-width: 24px;
  min-height: 24px;
}
.inputField {
  display: block;
  width: 300px;
  &.max {
    width: 100%;
  }

  & input {
    padding-right: 40px !important;
  }
}
.iconButton {
  position: absolute;
  right: 4px;
  top: 4px;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  cursor: auto;

  &.cross svg {
    width: 16px;
  }

  &.cross.manualMode {
    right: 32px;
  }
}

.manualMode {
  composes: theme-background-primary theme-text-on-primary from global;
  cursor: pointer;
}
