.fieldLabel {
  composes: theme-typography--body1 from global;
  font-weight: 500;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: initial;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fieldDescription {
  padding: 0;
}
