.icon {
  composes: theme-text-on-secondary from global;
}
.fieldLabel {
  display: block;
  composes: theme-typography--body1 from global;
  font-weight: 500;
}
.fieldLabel:not(:empty) {
  margin-bottom: 10px;
}
.inputContainer {
  position: relative;
}
.loaderContainer,
.iconContainer {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  display: flex;
}
.iconContainer {
  cursor: pointer;
  & .icon {
    width: 100%;
    height: 100%;
  }
}

.customIconContainer {
  composes: iconContainer;
  right: 4px;
  width: 24px;
  height: 24px;
  cursor: auto;
}

.input[disabled] + .iconContainer {
  cursor: auto;
  opacity: 0.8;
}
.input:not(:only-child) {
  padding-right: 32px !important;
}
