.textarea {
  line-height: 19px;
  font-size: 12px;
}
.field.embedded {
  height: 100%;
  display: flex;
  flex-direction: column;

  & .textarea {
    border-radius: 0 !important;
    height: 100%;
    resize: none !important;
  }
}
