.textarea {
  line-height: 19px;
}
.field.embedded {
  height: 100%;
  display: flex;
  flex-direction: column;

  & .textarea {
    border-radius: 0 !important;
    height: 100%;
    resize: none !important;
  }
}
.fieldLabel {
  display: block;
  padding-bottom: 10px;
  composes: theme-typography--body1 from global;
  font-weight: 500;

  &:empty {
    display: none;
  }
}
