.layoutGrid {
  composes: layout-grid from global;
  width: 100%;
  flex: 1;
}

.layoutGridInner {
  composes: layout-grid__inner from global;
  min-height: 100%;
}

.layoutGridCell {
  composes: layout-grid__cell from global;
  composes: theme-background-surface theme-text-on-surface theme-border-color-background from global;
  position: relative;
  border: solid 1px;
  padding: 16px 24px;
}

.message {
  line-height: 2;
  white-space: pre-wrap;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
