.layoutGrid {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  padding: 24px;
}

.layoutGridInner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  min-height: 100%;
}

.layoutGridCell {
  composes: theme-background-surface theme-text-on-surface theme-border-color-background from global;
  grid-column: 1 / -1;
  position: relative;
  border: solid 1px;
  padding: 16px 24px;
}

.message {
  line-height: 2;
  white-space: pre-wrap;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
