.itemList {
  composes: theme-background-surface from global;
  box-sizing: border-box;
  border-collapse: collapse;
  z-index: 0;
  overflow: auto;
}
.itemListOverflow,
.itemListOverflowTop {
  position: sticky;
  flex-shrink: 0;
  width: 100%;
  height: 8px;
  pointer-events: none;
}
.itemListOverflow {
  composes: branding-overflow from global;
  bottom: 0;
}
.itemListOverflowTop {
  composes: branding-overflow-inverse from global;
  top: 0;
  z-index: 1;
}
.listSearch {
  composes: theme-background-surface theme-text-on-surface theme-typography--body1 from global;
  position: sticky;
  top: 0;
  padding: 16px 24px;
  z-index: 1;

  & .inputBox {
    position: relative;
  }

  & .input {
    padding: 4px 32px 4px 8px;
    /* clears the ‘X’ from Internet Explorer */
    &[type='search']::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
    &[type='search']::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }
    /* clears the ‘X’ from Chrome */
    &[type='search']::-webkit-search-decoration,
    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-results-button,
    &[type='search']::-webkit-search-results-decoration {
      display: none;
    }
  }

  & .actionButton {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);

    & .iconButton {
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 2px;
      height: 24px;
      width: 24px;
      margin: 0;
    }

    & .crossIcon {
      padding: 4px;
    }
  }
}
.iconButton {
  composes: theme-ripple theme-background-primary theme-text-on-primary from global;
}
.listItem:not(:nth-last-child(2)) {
  border-bottom: 1px solid;
}
.listItem {
  composes: theme-ripple theme-background-surface theme-border-color-secondary from global;
  position: relative;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0 16px;
}
.listItemIcon {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;

  & .staticImage {
    box-sizing: border-box;
    width: 24px;
  }
}
.listItemName {
  composes: theme-border-color-secondary theme-typography--body1 from global;
  box-sizing: border-box;
  font-weight: 500;
  min-width: 250px;
  padding: 8px 24px 8px 8px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not(:last-child) {
    border-right: 1px solid;
  }
}
.listItemDescription {
  composes: theme-typography--body2 from global;
  box-sizing: border-box;
  max-width: 460px;
  padding: 8px 8px 8px 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
