.tabTitle {
  flex: 1;
}

.icon {
  composes: theme-background-primary from global;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 12px;
}

.iconOrImage {
  width: 16px;
}
