<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension-point id="io.cloudbeaver.service" name="Web services" schema="schema/io.cloudbeaver.service.exsd"/>
    <extension-point id="io.cloudbeaver.feature" name="Web features" schema="schema/io.cloudbeaver.feature.exsd"/>
    <extension-point id="io.cloudbeaver.server.feature" name="Web server features" schema="schema/io.cloudbeaver.server.feature.exsd"/>
    <extension-point id="io.cloudbeaver.valueSerializer" name="Web value serializers" schema="schema/io.cloudbeaver.valueSerializer.exsd"/>
    <extension-point id="org.jkiss.dbeaver.auth.provider" name="%extension-point.org.jkiss.dbeaver.authProvider.name" schema="schema/org.jkiss.dbeaver.authProvider.exsd"/>
    <extension-point id="io.cloudbeaver.metaParameters" name="Meta parameters" schema="schema/io.cloudbeaver.metaParameters.exsd"/>
    <extension-point id="io.cloudbeaver.rm.file.handler" name="RM file operations handler"
                     schema="schema/io.cloudbeaver.rmFileHandler.exsd"/>

    <extension point="io.cloudbeaver.metaParameters">
        <metaParameters type="user">
            <propertyGroup label="Main">
                <property id="firstName" label="First Name" type="string" description="User first name"/>
                <property id="lastName" label="Last Name" type="string" description="User last name"/>
            </propertyGroup>
        </metaParameters>
    </extension>

    <extension point="com.dbeaver.secretController">
        <controller id="void-secret" class="io.cloudbeaver.model.app.VoidSecretController"
                    label="Default secret controller" description="Default void secret controller"/>
    </extension>

    <extension point="org.jkiss.dbeaver.ws.event">
        <event topicId="cb_session_task" id="cb_session_task_info_updated"
               class="io.cloudbeaver.websocket.event.task.WSSessionTaskInfoEvent"/>

        <event topicId="cb_session_task" id="cb_session_task_confirmation_request"
               class="io.cloudbeaver.websocket.event.task.WSSessionTaskConfirmationRequestEvent"/>
        <event topicId="cb_session_task" id="cb_session_task_query_confirmation_request"
               class="io.cloudbeaver.websocket.event.task.WSSessionTaskQueryConfirmationRequestEvent"/>
        <event topicId="cb_session_task" id="cb_session_task_query_params_confirmation_request"
               class="io.cloudbeaver.websocket.event.task.WSSessionTaskQueryParamsConfirmationEvent"/>

        <clientEvent id="cb_client_session_ping" class="io.cloudbeaver.websocket.event.client.WSSessionPingClientEvent"/>
        <clientEvent id="cb_client_topic_subscribe" class="io.cloudbeaver.websocket.event.client.WSSubscribeOnTopicClientEvent"/>
        <clientEvent id="cb_client_topic_unsubscribe"
                     class="io.cloudbeaver.websocket.event.client.WSUnsubscribeFromTopicClientEvent"/>
        <clientEvent id="cb_client_projects_active"
                     class="io.cloudbeaver.websocket.event.client.WSUpdateActiveProjectsClientEvent"/>
        <clientEvent id="cb_client_session_task_confirmation"
                     class="io.cloudbeaver.websocket.event.client.WSSessionTaskConfirmationEvent"/>
        <clientEvent id="cb_client_session_task_with_parameters_confirmation"
                     class="io.cloudbeaver.websocket.event.client.WSSessionTaskWithParametersConfirmationEvent"/>
    </extension>

</plugin>
