<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension-point id="io.cloudbeaver.service" name="Web services" schema="schema/io.cloudbeaver.service.exsd"/>
    <extension-point id="io.cloudbeaver.feature" name="Web features" schema="schema/io.cloudbeaver.feature.exsd"/>
    <extension-point id="io.cloudbeaver.server.feature" name="Web server features" schema="schema/io.cloudbeaver.server.feature.exsd"/>
    <extension-point id="io.cloudbeaver.valueSerializer" name="Web value serializers" schema="schema/io.cloudbeaver.valueSerializer.exsd"/>
    <extension-point id="org.jkiss.dbeaver.auth.provider" name="%extension-point.org.jkiss.dbeaver.authProvider.name" schema="schema/org.jkiss.dbeaver.authProvider.exsd"/>
    <extension-point id="io.cloudbeaver.metaParameters" name="Meta parameters" schema="schema/io.cloudbeaver.metaParameters.exsd"/>
    <extension-point id="io.cloudbeaver.rm.file.handler" name="RM file operations handler"
                     schema="schema/io.cloudbeaver.rmFileHandler.exsd"/>

    <extension point="io.cloudbeaver.metaParameters">
        <metaParameters type="user">
            <propertyGroup label="Main">
                <property id="firstName" label="First Name" type="string" description="User first name"/>
                <property id="lastName" label="Last Name" type="string" description="User last name"/>
            </propertyGroup>
        </metaParameters>
    </extension>

    <extension point="com.dbeaver.secretController">
        <controller id="void-secret" class="io.cloudbeaver.model.app.VoidSecretController"
                    label="Default secret controller" description="Default void secret controller"/>
    </extension>

</plugin>
