.field {
  display: flex;
  align-items: center;
  white-space: pre-wrap;

  & .fieldLabel {
    cursor: pointer;
    user-select: none;
    line-height: 16px;
  }
}
.fieldLabel {
  composes: theme-typography--body2 from global;
}
.checkbox[disabled] + .fieldLabel {
  cursor: auto;
}
