.field {
  display: flex;
  align-items: center;
  white-space: pre-wrap;

  & .fieldLabel {
    cursor: pointer;
    user-select: none;
    padding-left: 10px;
    line-height: 16px;
  }
}
.fieldLabel {
  composes: theme-typography--body2 from global;
}
.checkbox[disabled] + .fieldLabel {
  cursor: auto;
}

.fakeLabel {
  visibility: hidden;
  display: block;
  padding-bottom: 10px;
  composes: theme-typography--body1 from global;
  font-weight: 500;
}
