.container {
  cursor: pointer;
  width: 100%;
}

.container:not(.empty) .value {
  padding-right: 8px;
}

.box {
  display: flex;
  height: 100%;
  align-items: center;

  & .icon {
    width: 16px;
  }
}

.value {
  flex-grow: 1;
  flex-shrink: 1;
}
