.container {
  composes: theme-typography--body2 from global;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dataGrid {
  width: 100%;
  height: 100%;
}

.info {
  padding: 4px 12px;
}

.objectPropertyTableFooter {
  composes: theme-background-secondary theme-text-on-secondary theme-border-color-background from global;
  border-top: 1px solid;
}
