.tiny,
.grid.tiny > * {
  flex-basis: 140px;
  max-width: 210px;
}

.small,
.grid.small > * {
  flex-basis: 260px;
  max-width: 390px;
}

.medium,
.grid.medium > * {
  flex-basis: 460px;
  max-width: 640px;
}

.large,
.grid.large > * {
  flex-basis: 800px;
  max-width: 800px;
}

.maximum,
.grid.maximum > * {
  max-width: 100%;
}

.fill {
  max-width: none;
}

.keepSize {
  flex-grow: 0;
  flex-basis: 0;
  flex-basis: auto; /* test for layout */
}
