@layer components {
  .dbv-kit-menu__popover {
    --dbv-kit-menu-popover-foreground: var(--theme-input-color);
    --dbv-kit-menu-popover-background: var(--theme-input-background);
  }

  .dbv-kit-menu__button {
    --dbv-kit-menu-background: transparent;
    --dbv-kit-menu-foreground: inherit;
  }

  .dbv-kit-menu__item {
    --dbv-kit-menu-item-hover-background: var(--theme-background);
    --dbv-kit-menu-item-hover-foreground: var(--theme-input-color);
  }
}
