.header {
  composes: theme-border-color-background theme-background-surface theme-text-on-surface from global;
  padding-bottom: 16px;
  gap: 16px;
  border-bottom: 1px solid;
}
.headerActions {
  width: 100%;
  display: flex;
  gap: 16px;
}

.tableContainer {
  height: 200px;
}

.inputField {
  flex: 1;
}