.header {
  composes: theme-border-color-background theme-background-surface theme-text-on-surface from global;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  border-bottom: 1px solid;
  gap: 16px;
  flex: 1 0 auto;
}
.headerActions {
  width: 100%;
  display: flex;
  gap: 16px;
}

.tableContainer {
  height: 200px;
}

.inputField {
  flex: 1;
}