.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.map {
  flex: 1 1 auto;
  border-radius: var(--theme-group-element-radius);
  overflow: hidden;
}

.toolbar {
  margin-top: 8px;
  flex: 0 0 auto;
}
