@import url('@dbeaver/ui-kit/index.css');
@import url('react-data-grid/lib/styles.css') layer(components);

@layer components.rdg.Cell {
  .theme-dark, .theme-light {
    --theme-highlighted-cell-background: #ffff0054;
    --theme-search-active-cell-background: #ff6a0054;
  }

  .rdg {
    --dbv-kit-icon-btn-outline-width: 1px;
  }

  .rdg-cell-search-match {
    background-color: var(--theme-highlighted-cell-background) !important;
  }

  .rdg-cell-search-active {
    background-color: var(--theme-search-active-cell-background) !important;
  }

  @media (prefers-color-scheme: dark) {
    .rdg-cell-frozen {
      &:nth-last-child(1 of &) {
        box-shadow: none;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-color: rgba(255, 255, 255, 0.02);
        }
      }
    }
  }
}
