.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.topBar {
  composes: theme-border-color-background theme-background-secondary theme-text-on-secondary from global;
  position: relative;
  display: flex;
  padding-top: 16px;
}

.topBar:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: solid 2px;
  border-color: inherit;
}

.topBarTabs {
  flex: 1;
}

.topBarActions {
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 16px;
}

.statusMessage {
  composes: theme-typography--caption from global;
  height: 24px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.statusMessage .iconOrImage {
  height: 24px;
  width: 24px;
}

.box {
  composes: theme-background-secondary theme-text-on-secondary from global;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: auto;
}
.content {
  composes: theme-background-secondary theme-border-color-background from global;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
.tabList {
  position: relative;
  flex-shrink: 0;
  align-items: center;
}
