.form {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.p {
  white-space: pre-wrap;
  line-height: 2;
}

.loader {
  height: 100%;
}

.toolsPanel {
  composes: theme-background-surface theme-text-on-surface theme-border-color-background from global;
  border-bottom: solid 1px;
  flex: 0 0 auto;
}