.notificationBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  & .bodyTextBlock {
    margin-top: 8px;
    padding-right: 24px;
    & .message {
      font-size: 16px;
      opacity: 0.8;
      overflow: auto;
      max-height: 60px;
      margin-bottom: 8px;
      word-break: break-word;
      white-space: pre-line;
    }
  }
}

.textBlockTitle {
  composes: theme-typography--headline6 from global;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.55rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
