.notification {
  composes: theme-background-surface theme-text-on-surface theme-elevation-z5 from global;
  position: relative;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 500px;
  margin-bottom: 16px;
  margin-left: 16px;
  padding: 16px 16px;
  line-height: 1.5;
  opacity: 0;
  border-radius: var(--theme-group-element-radius);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-100%);

  &.mounted {
    transform: translateX(0);
    opacity: 1;
  }

  &.closing {
    opacity: 0;
  }
}

.iconButton {
  position: absolute;

  &.large {
    top: 8px;
    right: 8px;
    height: 22px;
    width: 22px;
  }

  &:hover {
    opacity: 0.7;
  }
}
