.header {
  composes: theme-text-on-primary theme-typography--body2 from global;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 8px;
  background-color: #2a7cb4;
  z-index: 1;
  flex-shrink: 0;
}