.treeNode {
  margin-top: 8px;

  &.project:only-child,
  &.hideProjects {
    margin-top: 0px;

    & > .control {
      display: none;
    }
  }

  & > .navigationNodeNested {
    padding-left: 0;
  }
}
