@import './_base.css';
@import './_sizes.css';

@layer base {
  .dbv-kit-spin {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--dbv-kit-spin-height);
    height: var(--dbv-kit-spin-height);
  }

  .dbv-kit-spin--small {
    width: var(--dbv-kit-spin-small-height);
    height: var(--dbv-kit-spin-small-height);
  }

  .dbv-kit-spin--medium {
    width: var(--dbv-kit-spin-medium-height);
    height: var(--dbv-kit-spin-medium-height);
  }

  .dbv-kit-spin--large {
    width: var(--dbv-kit-spin-large-height);
    height: var(--dbv-kit-spin-large-height);
  }

  .dbv-kit-spin--xlarge {
    width: var(--dbv-kit-spin-xlarge-height);
    height: var(--dbv-kit-spin-xlarge-height);
  }

  .dbv-kit-spin__svg {
    stroke-dasharray: 40px, 100px;
    stroke-dashoffset: 5px;
    stroke-width: var(--dbv-kit-spin-stroke-width);
    stroke: var(--dbv-kit-spin-stroke-color);
    stroke-linecap: var(--dbv-kit-spin-stroke-linecap);

    animation: var(--dbv-kit-animate-spin);
  }

  .dbv-kit-spin__circle {
    animation: var(--dbv-kit-animate-stroke);

    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}
