<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="io.cloudbeaver.service">
        <service id="metadata" label="Metadata management " description="Metadata management  services" class="io.cloudbeaver.service.metadata.WebServiceBindingMetadata">

        </service>
    </extension>

</plugin>
