.menuItem {
  composes: theme-ripple from global;
  composes: menuItem from './MenuItemElement.m.css';

  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  background: none;
  text-align: left;
  outline: none;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;

  &.hidden {
    display: none;
  }

  &:global([aria-selected='true']) {
    opacity: 0.7;
  }
}
