.menu {
  outline: none;
  z-index: 999;
}
.menuBox {
  composes: theme-background-surface theme-text-on-surface theme-group-element-radius theme-typography--caption theme-elevation-z5 from global;
  composes: menuBox from './MenuItemElement.m.css';

  display: flex;
  flex-direction: column;
  min-width: 140px;
  padding: 6px 0;

  & .menuBox {
    margin-top: -6px;
  }
}

.menu.modal .menuBox {
  overflow: auto;
  max-height: 80vh;
  overflow-x: hidden;
}

.menu.submenu {
  margin-top: -6px;
}
