.captureView {
  outline: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.elementsTree {
  min-width: 100%;
  width: max-content;
}

.center {
  display: flex;
  height: 100%;
  width: 100%;

  & .message {
    margin: auto;
    text-align: center;
  }
}

.message {
  box-sizing: border-box;
  max-width: 240px;
  padding: 24px;
}
